<!DOCTYPE html>
<html>

<head>
 <meta charset="utf-8">
<title>Blog</title>
    <style>
        * {
            margin:0;
            padding:0;

        }

        html,body{
            widht:100%;

        }

        body{
            display: flex;
            min-height:100vh;
            flex-direction: column;
            justify-content: center;
            align-content: center;

        }

        .info{
            marign:auto;
            border:1px solid red;
            font-size:40px;
            color:deeppink;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="info">
    OH,Not Find Page!
</div>
</body>
</html>