<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>NEMBlog</title>

    <script src="/javascripts/jquery-1
    .11.1
    .min.js"></script>
    <script src="/javascripts/bootstrap.min
    .js"></script>
    <link rel="stylesheet"
          href="/stylesheets/style.css">
    <link rel="stylesheet"
          href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet"
    href="/stylesheets/bootstrap-theme.min
    .css">

    <style>
        *{
            margin:0;
            padding:0;
            text-decoration: none;
            list-style: none;
        }
        html,body{
            width:100%;
            font-size:14px;
        }

        .search {
            border:1px solid transparent;
            width: 200px;
            text-align: center;
            font-size:1em;
            margin:0.5 em 0;
        }
        
        .search:hover {
            border:1px solid hotpink;
        }

        .search > input {
            width:100%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12
    col-lg-12">
            <h1 class="text-center"><%= title
                %></h1>
        </div>
    </div>

    <div class="row">

            <div class="well">
                <ul class="nav nav-pills">

                    <li role="presentation"><a
                                href="/"
                                title="主页">Home</a>
                    </li>

                    <li role="presentation"><a
                                href="/archive">Archive</a></li>

                    <li role="presentation"><a
                                href="/tags">tags</a></li>
                    <% if (!user) { %>
                    <li role="presentation"><a
                                href="/login"
                                title="登录">Login</a>
                    </li>
                    <li role="presentation"><a
                                href="/reg"
                                title="注册">Register</a>
                    </li>
                    <% } else { %>
                    <li role="presentation"><a
                                href="/post"
                                title="发表">发表</a></li>
                    <li role="presentation"><a
                                href="/upload"
                                title="上传">上传</a></li>
                    <li role="presentation"><a
                                href="/logout"
                                title="登出">登出</a></li >
                    <% } %>
                </ul>

                <ul>
                    <li>
                        <form action="/search"
                              class="search"
                              method="get"
                        ><input type="text"
                                name="keyword"
                                placeholder="请输入要搜索的标题"
                            ></form></li>
                </ul>

            </div>

    </div>






