<%- include header %>
<form action="" method="post">
    <label for="">User:</label>
    <input type="text" name="userName" id="userName">
    <label for="">Password:</label>
    <input type="password" name="password" id="password">
</form>
<%- include footer %>