<%- include header %>
<form method="post">
    <label for="">User:</label>
    <input type="text" name="name" id="userName">
    <label for="">Password:</label>
    <input type="text" name="password" id="password">
    <input type="submit" value="Login">
</form>
<%- include footer %>