<%- include header %>
    <form method="post" class="pager">
        <div class="page-header">
            <h3>标题:</h3>
            <div><input type="text"
                        name="title" placeholder="请输入文章标题"></div>
        </div>


            <div class="page-header"><h2>内容:</h2
                ></div>
            <div><textarea name="post" id="" cols="100" rows="20"></textarea></div>



        <div class="form-group">
            <button class="btn btn-block btn-success"
                    onsubmit="submit" value="发表">发表</button>
        </div>
    </form>
<%- include footer %>