<%- include header %>
    <form method="post" class="pager">
        <div class="page-header">

            <div><label class="label-primary"
                        for="">文章标题:</label><input
                        type="text"
                        name="title" placeholder="请输入文章标题"></div>
            <div><label
                        class="label-info"
                        for="">标签:</label><input placeholder="每个标签之间使用空格分隔"
                                                 name="tags" type="text"></div>

        </div>


            <div class="page-header"><h2>内容:</h2
                ></div>
            <div><textarea name="post" id="" cols="100" rows="20"></textarea></div>



        <div class="form-group">
            <button class="btn btn-block btn-success"
                    onsubmit="submit" value="发表">发表</button>
        </div>
    </form>
<%- include footer %>