<%- include header %>
<section class="section-post">
    <form method="post">
        <h3>标题:</h3>
        <div><input type="text" name="title"></div>
        <h3>正文:</h3>
        <div><textarea name="post" id="" cols="100" rows="20"></textarea></div>
        <button onsubmit="submit" value="发表">发表</button>
    </form>
</section>
<%- include footer %>