<%- include header %>
<form method="post">
    用户名:
    <input type="text" name="name">
    密码:
    <input type="text" name="password">
    确认密码:
    <input type="text" name="password-repeat">
    邮箱:
    <input type="email" name="email">
    <input type="submit" value="Submit">
</form>
<%- include footer %>